<!-- <div (click)="printFunction()">print</div> -->





<c-offcanvas #offcanvasEnd
  placement="end"
  [visible]="visible"
>
  <c-offcanvas-header>
    <h5 cOffcanvasTitle>Offcanvas Header</h5>
    <!-- <button
      cButtonClose
      class="text-reset ms-auto"
      cOffcanvasToggle="OffcanvasEnd"
      aria-label="Close"
    ></button> -->
  </c-offcanvas-header>
  <c-offcanvas-body>
    <form class="p-3 border rounded shadow bg-light">
      <div class="row">
        <ng-container *ngFor="let i of modelData.remainingProps | keyvalue; let index = index">
          <div class="col-4 mb-3">
            <label for="input-{{index}}" class="form-label">{{i.key}}:</label>
            <input type="text" id="input-{{index}}" name="input-{{index}}"
                   placeholder="{{i.value}}"
                   class="form-control" required
                   [(ngModel)]="formData[i.key]"> <!-- Make sure formData[i.key] is valid -->
          </div>
          <div *ngIf="(index + 1) % 3 === 0" class="w-100"></div>
        </ng-container>
      </div>
  
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary" (click)="EditLayer()">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="closeForm()">Close</button>
      </div>
    </form>
  </c-offcanvas-body>
</c-offcanvas>


 <app-layer-query></app-layer-query>
 <div *ngIf="isLoading" class="overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<app-drawing-tool (messageToParent)="receiveMessage($event)" [selectedValue]="map" ></app-drawing-tool>
<div id="map" ></div>


<!-- <div *ngIf="visible" class="form" [ngStyle]="formPosition">
  <form class="p-3 border rounded shadow bg-light">
    <div class="row">
      <ng-container *ngFor="let i of modelData.remainingProps | keyvalue; let index = index">
        <div class="col-4 mb-3">
          <label for="input-{{index}}" class="form-label">{{i.key}}:</label>
          <input type="text" id="input-{{index}}" name="input-{{index}}"
                 placeholder="{{i.value}}"
                 class="form-control" required
                 [(ngModel)]="formData[i.key]"> 
        </div>
        <div *ngIf="(index + 1) % 3 === 0" class="w-100"></div>
      </ng-container>
    </div>

    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-primary" (click)="EditLayer()">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="closeForm()">Close</button>
    </div>
  </form>
</div> -->










  