


 <app-layer-query></app-layer-query>
 <div *ngIf="isLoading" class="overlay">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<app-drawing-tool (messageToParent)="receiveMessage($event)" [selectedValue]="map" ></app-drawing-tool>
<div id="map" style="position: relative; height: 100vh; width: 100%;"></div>
  <div class="layer-button"> 
      <button cButton cOffcanvasToggle="OffcanvasScroll1">Layers</button> 
    </div>
 


<!-- <button cButton cOffcanvasToggle="OffcanvasScroll1">Layers</button> -->

<c-offcanvas
  id="OffcanvasScroll1"
  [scroll]="true"
  placement="start"

>
  <c-offcanvas-header>   

<c-alert color="success">
  <h2> Layers  </h2>
</c-alert>
    <button
      aria-label="Close"
      cButtonClose
      cOffcanvasToggle="OffcanvasScroll1"
      class="text-reset ms-auto"
    ></button>

  </c-offcanvas-header>
  <c-offcanvas-body>
    <!-- <c-card >
      <c-card-header> <h2>Layers</h2></c-card-header>
      <c-card-body>       
        <div *ngFor="let item of layerList" class="checkbox-item">
          <c-form-check [switch]="true">
            <input cFormCheckInput checked type="checkbox"  (change)="onCheckboxChange($event, item)" />
            <label cFormCheckLabel>  {{ item.DisplayName }}</label>
          </c-form-check>
          <!-- <label>
            <input
              type="checkbox"
              [checked]="item.selected"
              (change)="onCheckboxChange($event, item)"
            />
            {{ item.DisplayName }}
          </label> -->
       <!--  </div>
      </c-card-body>
     
    </c-card> -->

      <!-- <c-container> -->
      <!-- <c-row  >
        <c-col> -->
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of layerList">
          <c-form-check [switch]="true">
            <input cFormCheckInput type="checkbox"  (change)="onCheckboxChange($event, item)" />
            <label cFormCheckLabel>  {{ item.DisplayName }}</label>       
          </c-form-check>
          </li>
        </ul>
          <!-- <label>
            <input
              type="checkbox"
              [checked]="item.selected"
              (change)="onCheckboxChange($event, item)"
            />
            {{ item.DisplayName }}
          </label> -->
        <!-- </c-col>
      </c-row> -->
      <!-- </c-container> -->

  </c-offcanvas-body>
</c-offcanvas>


<!-- 
<button cButton [cOffcanvasToggle]="formCanvas.id">Toggle static offcanvas</button>

<c-offcanvas
  id="OffcanvasStatic"
  backdrop="static"
  placement="end"
  #formCanvas
>
  <c-offcanvas-header>
    <h5 cOffcanvasTitle>Offcanvas Header</h5>
    <button
      aria-label="Close"
      cButtonClose
      [cOffcanvasToggle]="formCanvas.id"
      class="text-reset ms-auto"
    ></button>
  </c-offcanvas-header>
  <c-offcanvas-body>
    <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" *ngIf="schema.length>0">
      <div *ngFor="let field of schema">
        <label [for]="field.ColumnName">{{ field.DisplayColumnName }}</label>
        
        <ng-container [ngSwitch]="field.DataType">
          <!-- Input for nvarchar -->
          <!-- <input
            *ngSwitchCase="'nvarchar'"
            [formControlName]="field.ColumnName"
            [attr.placeholder]="field.DisplayColumnName"
            type="text"
          /> -->
    
          <!-- Input for int -->
          <!-- <input
            *ngSwitchCase="'int'"
            [formControlName]="field.ColumnName"
            [attr.placeholder]="field.DisplayColumnName"
            type="number"
          /> -->
    
          <!-- Dropdown for select -->
          <!-- <select
            *ngSwitchCase="'select'"
            [formControlName]="field.ColumnName">
            <option *ngFor="let option of dropdownOptions[field.ColumnName]" [value]="option">
              {{ option }}
            </option>
          </select> 
        </ng-container>
      </div>
    
      <button type="submit" [disabled]="dynamicForm.invalid">Submit</button>
    </form>
    
  </c-offcanvas-body>
</c-offcanvas> -->




<!-- <div *ngIf="visible" class="form" [ngStyle]="formPosition">
  <form class="p-3 border rounded shadow bg-light">
    <div class="row">
      <ng-container *ngFor="let i of modelData.remainingProps | keyvalue; let index = index">
        <div class="col-4 mb-3">
          <label for="input-{{index}}" class="form-label">{{i.key}}:</label>
          <input type="text" id="input-{{index}}" name="input-{{index}}"
                 placeholder="{{i.value}}"
                 class="form-control" required
                 [(ngModel)]="formData[i.key]"> 
        </div>
        <div *ngIf="(index + 1) % 3 === 0" class="w-100"></div>
      </ng-container>
    </div>

    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-primary" (click)="EditLayer()">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="closeForm()">Close</button>
    </div>
  </form>
</div> -->










  