<!-- <c-card class="my-4">
  <c-card-body>
    <c-row>
      <c-col sm="5" class="d-flex justify-content-between align-items-center">
        <h4 class="card-title mb-0" id="traffic">Map</h4>
        <div class="ml-auto"> 
          <c-dropdown variant="btn-group">
            <button cButton cDropdownToggle color="secondary" size="sm">
              Select Geometry Layer
            </button>
            <ul cDropdownMenu>
              <li *ngFor="let i of options">
                <button (click)="selected = i" cDropdownItem>{{ i }}</button>
              </li>
            </ul>
          </c-dropdown>
        </div>
      </c-col>
    </c-row>
    
  </c-card-body>
  <c-card-footer>

  </c-card-footer>
</c-card> -->

<app-openlayer-map></app-openlayer-map>
